node_modules/
/vendor
.DS_Store
.secret.js
.env
.idea/
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd
com.apple.timemachine.donotpresent
.TemporaryItems
.DocumentRevisions-V100
.AppleDouble
.LSOverride
._*
*.log
*.tmp
*.swp
*.swo